@charset 'UTF-8';
/*
  Header
-----------------------------------------------------*/
.l-header {
  position: absolute;
  top: 0;
  z-index: 1;
  padding-top: 2rem;
  width: 100%;

  @include mq(tab) {
  }
}
