@charset 'UTF-8';
/*
  Main
-----------------------------------------------------*/

.l-main {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #101010;
}
