@charset 'UTF-8';
/*
  Flex
-----------------------------------------------------*/

.c-flex {
  display: flex;

  &.-fxd {
    &-c {
      flex-direction: column;
    }
    &-cr {
      flex-direction: column-reverse;
    }
    &-r {
      flex-direction: row;
    }
    &-rr {
      flex-direction: row-reverse;
    }
  }

  &.-fxw {
    &-n {
      flex-wrap: nowrap;
    }
    &-w {
      flex-wrap: wrap;
    }
    &-wr {
      flex-wrap: wrap-reverse;
    }
  }

  &.-jc {
    &-c {
      justify-content: center;
    }
    &-fe {
      justify-content: flex-end;
    }
    &-fs {
      justify-content: flex-start;
    }
    &-sa {
      justify-content: space-around;
    }
    &-sb {
      justify-content: space-between;
    }
  }

  &.-ai {
    &-b {
      align-items: baseline;
    }
    &-c {
      align-items: center;
    }
    &-fe {
      align-items: flex-end;
    }
    &-fs {
      align-items: flex-start;
    }
    &-s {
      align-items: stretch;
    }
  }

  &.-ac {
    &-c {
      align-content: center;
    }
    &-fe {
      align-content: flex-end;
    }
    &-fs {
      align-content: flex-start;
    }
    &-s {
      align-content: stretch;
    }
    &-sa {
      align-content: space-around;
    }
    &-sb {
      align-content: space-between;
    }
  }
}

.c-flex__item {
  &.-ord {
    @for $i from 1 through 10 {
      &-#{$i} {
        order: $i;
      }
    }
  }
}
