@charset "UTF-8";
/* =====================================================
  1.0 - Foundation
===================================================== */
/*
  Reset
-----------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  Base
-----------------------------------------------------*/
*,
:before,
:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 16px;
}

body {
  position: relative;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #101010;
  color: #fff;
  text-rendering: optimizeLegibility;
  word-break: break-all;
  font: 1rem/1.5 Quicksand, "Noto Sans Japanese", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  -webkit-font-feature-settings: 'pkna';
  font-feature-settings: 'pkna';
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

*[lang='en'] {
  font-family: "Roboto Mono", monospace;
}

/* =====================================================
  2.0 - Layout
===================================================== */
/*
  Centering
-----------------------------------------------------*/
.l-container {
  position: relative;
  margin: 0 auto;
  max-width: 85%;
  width: 1200px;
  height: 100%;
}

.l-container.-slim {
  max-width: 960px;
}

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: absolute;
  top: 0;
  z-index: 1;
  padding-top: 2rem;
  width: 100%;
}

/*
  Main
-----------------------------------------------------*/
.l-main {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background-color: #101010;
}

/*
  Footer
-----------------------------------------------------*/
.l-footer {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 2.25rem;
}

/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
/*
  Flex
-----------------------------------------------------*/
.c-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-flex.-fxd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.c-flex.-fxd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.c-flex.-fxd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.c-flex.-fxd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-flex.-fxw-n {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.c-flex.-fxw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-flex.-fxw-wr {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.c-flex.-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-flex.-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.c-flex.-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.c-flex.-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.c-flex.-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-flex.-ai-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.c-flex.-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-flex.-ai-fe {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.c-flex.-ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.c-flex.-ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.c-flex.-ac-c {
  -ms-flex-line-pack: center;
      align-content: center;
}

.c-flex.-ac-fe {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.c-flex.-ac-fs {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.c-flex.-ac-s {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.c-flex.-ac-sa {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.c-flex.-ac-sb {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.c-flex__item.-ord-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.c-flex__item.-ord-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.c-flex__item.-ord-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.c-flex__item.-ord-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.c-flex__item.-ord-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.c-flex__item.-ord-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.c-flex__item.-ord-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.c-flex__item.-ord-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.c-flex__item.-ord-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.c-flex__item.-ord-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

/*
  Copyright
-----------------------------------------------------*/
.c-copyright {
  height: 100%;
  font-size: .75rem;
}

/*
  3.2 - Project
-----------------------------------------------------*/
/*
  Header Title
-----------------------------------------------------*/
.p-headerTitle {
  margin: 0 auto;
  max-width: 75%;
  width: 360px;
}

.p-headerTitle--logo {
  width: 100%;
}

.p-headerTitle--text {
  text-align: center;
  text-align-last: justify;
  text-justify: inter-ideograph;
  font-weight: bold;
  font-size: 22px;
  font-size: 6.875vw;
}

@media screen and (min-width: 480px) {
  .p-headerTitle--text {
    font-size: 2rem;
  }
}

.p-headerTitle--creater {
  padding-top: .5rem;
  text-align: center;
  font-size: 13px;
  font-size: 4.0625vw;
}

@media screen and (min-width: 480px) {
  .p-headerTitle--creater {
    font-size: 1rem;
  }
}

/*
  Introduction
-----------------------------------------------------*/
.p-introduction {
  z-index: 1;
  padding-top: 5rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-height: 500px) {
  .p-introduction {
    padding-top: 10rem;
  }
}

.p-introduction--title {
  font-weight: bold;
}

.p-introduction--text {
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
  max-width: 100%;
  width: 720px;
  text-align: justify;
  font-size: .875rem;
}

@media screen and (min-width: 480px) {
  .p-introduction--text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 830px) {
  .p-introduction--text {
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-height: 500px) {
  .p-introduction--title, .p-introduction--text {
    display: none;
  }
}

.p-introduction--link {
  font-weight: bold;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.p-introduction--link:hover {
  color: #dedede;
}

/*
  Link Button
-----------------------------------------------------*/
.p-linkButton {
  display: inline;
  padding: .5rem 1rem;
  border: 1px solid #fff;
  -webkit-transition: all 500ms 0s ease;
  transition: all 500ms 0s ease;
}

.p-linkButton--icon {
  padding-right: 1rem;
}

.p-linkButton:hover {
  background-color: #212121;
}

/*
  3.2 - Utility
-----------------------------------------------------*/
/*
  Margin
*/
.u-mt--sp--0 {
  margin-top: 0;
}

.u-mt--sp--xsmall {
  margin-top: .5em;
}

.u-mt--sp--small {
  margin-top: 1em;
}

.u-mt--sp--medium {
  margin-top: 1.5em;
}

.u-mt--sp--large {
  margin-top: 2em;
}

.u-mt--sp--xlarge {
  margin-top: 2.5em;
}

.u-mb--sp--0 {
  margin-bottom: 0;
}

.u-mb--sp--xsmall {
  margin-bottom: .5em;
}

.u-mb--sp--small {
  margin-bottom: 1em;
}

.u-mb--sp--medium {
  margin-bottom: 1.5em;
}

.u-mb--sp--large {
  margin-bottom: 2em;
}

.u-mb--sp--xlarge {
  margin-bottom: 2.5em;
}

@media screen and (min-width: 830px) {
  .u-mt--tab--0 {
    margin-top: 0;
  }
  .u-mt--tab--xsmall {
    margin-top: .5em;
  }
  .u-mt--tab--small {
    margin-top: 1em;
  }
  .u-mt--tab--medium {
    margin-top: 1.5em;
  }
  .u-mt--tab--large {
    margin-top: 2em;
  }
  .u-mt--tab--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--tab--0 {
    margin-bottom: 0;
  }
  .u-mb--tab--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--tab--small {
    margin-bottom: 1em;
  }
  .u-mb--tab--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--tab--large {
    margin-bottom: 2em;
  }
  .u-mb--tab--xlarge {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .u-mt--lap--0 {
    margin-top: 0;
  }
  .u-mt--lap--xsmall {
    margin-top: .5em;
  }
  .u-mt--lap--small {
    margin-top: 1em;
  }
  .u-mt--lap--medium {
    margin-top: 1.5em;
  }
  .u-mt--lap--large {
    margin-top: 2em;
  }
  .u-mt--lap--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--lap--0 {
    margin-bottom: 0;
  }
  .u-mb--lap--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--lap--small {
    margin-bottom: 1em;
  }
  .u-mb--lap--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--lap--large {
    margin-bottom: 2em;
  }
  .u-mb--lap--xlarge {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 1200px) {
  .u-mt--desk--0 {
    margin-top: 0;
  }
  .u-mt--desk--xsmall {
    margin-top: .5em;
  }
  .u-mt--desk--small {
    margin-top: 1em;
  }
  .u-mt--desk--medium {
    margin-top: 1.5em;
  }
  .u-mt--desk--large {
    margin-top: 2em;
  }
  .u-mt--desk--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--desk--0 {
    margin-bottom: 0;
  }
  .u-mb--desk--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--desk--small {
    margin-bottom: 1em;
  }
  .u-mb--desk--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--desk--large {
    margin-bottom: 2em;
  }
  .u-mb--desk--xlarge {
    margin-bottom: 2.5em;
  }
}

/*
  Screen Reader Text
*/
.u-screenReaderText {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

/*
  Text Uppercase
*/
.u-uppercase {
  text-transform: uppercase;
}

.u-en {
  font-weight: 300;
  font-family: "Roboto Mono", monospace;
}

.u-alignCenter {
  text-align: center;
}

.u-centaring {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.u-centaring--lr {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

/*
  Fade In
*/
.u-fadeIn {
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.u-fadeIn._fast {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.u-fadeIn._slow {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
